venv
interface/node_modules/electron/dist/Electron.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Electron Framework
venv/lib/python3.6/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so
